body {
    background-color: white;
    color: #222222;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: 5vh 60vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    display: inline;
    padding: 7px;
}

form {
    display: grid;
    justify-items: center;
}

input[type=text] {
    font-size: 16px;
    color: #333333;
    border: 0px;
}

input:focus {
    outline: none;
}

button {
    height: 36px;
    margin: 30px 5px;
    padding: 0px 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:#5F6368;
    font-size: 14px;
}

button:hover {
    color: #222222;
    border: 1px solid #bbbbbb;
}

.main-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px 0px 10px;
}

.main-top a {
    color: rgb(0, 0, 0, .8)
}

.main-middle {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.main-footer {
    width: 100%;
    background-color: #f2f2f2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    color: rgb(0, 0, 0, .54);
}

.main-footer a {
    color: #5f6368;
}

.gridicon {
    height: 16px;
    opacity: 70%;
}

.gridicon:hover {
    opacity: 95%;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #555555;
    border-radius: 50%;
}

.the-goods {
    display: grid;
    justify-items: center;
}

.search-bar {
    width: 440px;
    height: 42px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
}

.search-bar:hover {
    box-shadow: 0px 1px 5px rgb(0, 0, 0, .15);
}

.searchglass {
    height: 22px;
    opacity: 65%;
    padding-left: 14px;
}

.footer-row {
    height: 5vh;
    min-height: 36px;
    border-top: 1px solid #e4e4e4;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left {
    display: grid;
    align-items: center;
}

.left li {
    padding-right: 10px;
}

.right {
    display: grid;
    justify-self: end;
    align-items: center;
}

.right li {
    padding-left: 10px;
}

.pad-left-side {
    padding-left: 20px;
}